.app {
  background-image: url("./IMG_1629.jpg");
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: auto;
}

.app-container {
  opacity: 0.75;
  width: 70vw;
  background-color: whitesmoke;
  border-radius: 3%;
  position: absolute;
  left: 0;
  right: 0;
  top: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  padding-bottom: 20px;
  overflow: hidden;
}

.app-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;

}

.app-heading h1 {

  font-size: 2rem;
  text-emphasis: bold;
}

.app-content {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.app-content__head {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;

  text-align: center;
}
